* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
  background-color: #F5FAFE;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.booking {
  font-family: "Nunito";
  font-style: normal;
}

.navbar {
  background-color: #fff;
}
.navbar-top {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
}
.navbar__menu-button {
  display: none;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-bottom {
  background-color: #0A223D;
}
.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.navbar-menu__link {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  background-color: #F5FAFE;
}
.search__button {
  position: absolute;
  width: 65px;
  height: 100%;
  border: none;
  top: 0;
  right: 0;
  background-color: #EC1F46;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}
.user__avatar {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user__Name {
  font-size: 14px;
  line-height: 18px;
  margin-left: 18px;
}

.breadcrump-list {
  list-style-type: none;
  padding: 18px 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.breadcrump-list__link {
  text-decoration: none;
  color: inherit;
}
.breadcrump-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrump-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}
.hotel__slider {
  margin-left: 0;
}
.hotel-name {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel-description {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
}
.hotel-grid {
  display: flex;
  justify-content: space-between;
}
.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-slider {
  max-width: 728px;
  height: 450px;
}
.hotel-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.hotel-slider__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}
.hotel-slider__button {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}
.hotel-slider__button--next {
  right: 18px;
  background-image: url(../img/arrow-right.svg);
}
.hotel-slider__button--prev {
  left: 18px;
  background-image: url(../img/arrow-left.svg);
}

.stars {
  flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #FFFFFF;
}

.rating {
  width: 65px;
  height: 45px;
  text-align: center;
  background-color: #EC1F46;
  color: #FFFFFF;
  border-radius: 4px;
}
.rating-text {
  font-size: 8px;
  line-height: 10px;
}
.rating-count {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.rating-slide__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.booking {
  background-color: #0A223D;
  width: 350px;
  height: 210px;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 28px;
}
.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.booking__price {
  display: flex;
  flex-direction: column;
}
.booking__start {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking__room {
  min-width: 81px;
}
.booking__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}
.booking__description {
  margin-left: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking__call-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
.booking__num {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-left: 8px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

.newsletter {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  /* background-image: url(../img/newsletter-bg.jpg) */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 98px 0 87px 0;
}
.newsletter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
  background-size: cover;
}
.newsletter-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 731px;
  margin: auto;
  color: #FFFFFF;
}
.newsletter-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.newsletter-title__strong {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  display: flex;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  height: 55px;
}
.subscribe__input {
  width: 350px;
  height: 100%;
  padding-left: 33px;
  padding-right: 75px;
  border: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  background-color: #F5FAFE;
}
.subscribe__button {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 65px;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.reviews {
  padding: 40px 0 70px 0;
}
.reviews__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.reviews-slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  margin: 45px auto 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 62px 30px;
}
.reviews-slider__item:before {
  content: "";
  position: absolute;
  left: 62px;
  top: 13px;
  width: 70px;
  height: 47px;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
}
.reviews-slider__item:after {
  content: "";
  position: absolute;
  right: 62px;
  top: 118px;
  width: 70px;
  height: 47px;
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
}
.reviews-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}
.reviews-slider__button--prev {
  left: 0;
  background-image: url(../img/review-slider-arrow-left.svg);
}
.reviews-slider__button--next {
  right: 0;
  background-image: url(../img/review-slider-arrow-right.svg);
}
.reviews-slider__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-bottom: 30px;
}
.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
}
.reviews-slider__username {
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
}
.reviews-slider__date {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 4px;
}
.reviews-slider__rating {
  display: flex;
  align-items: center;
}
.reviews-slider__text {
  max-width: 537px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  margin: auto;
}

.activities {
  padding: 60px 0 98px 0;
}
.activities__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 57px;
}
.activities-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 255px;
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: -1;
}
.card__image {
  position: absolute;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: -1;
}
.card__title {
  position: absolute;
  margin: 0;
  bottom: 72px;
  left: 26px;
  z-index: 1;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 80%;
}
.card__button {
  position: absolute;
  bottom: 24px;
  left: 26px;
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  border: none;
  border-radius: 4px;
  background-color: #EC1F46;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.packages {
  padding-top: 40px;
  padding-bottom: 70px;
}
.packages-title {
  margin: 0 0 65px;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.packages-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.packages-element {
  height: 500px;
  background-color: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
}
.packages-element__icon {
  margin-right: 14px;
}
.packages-element__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.packages-element__details {
  margin-bottom: 11px;
}
.packages-element__old-price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.packages-element__bookNow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.packages-element__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.packages-element__button {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #EC1F46;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}
.packages-double {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  position: relative;
}
.packages-double:before {
  content: "Flash Offer";
  position: absolute;
  left: 0;
  top: 26px;
  width: 95px;
  height: 30px;
  border-radius: 0px 4px 4px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  background-color: #EC1F46;
  text-align: center;
  vertical-align: center;
  z-index: 1;
}
.packages-double__big-image {
  width: 366px;
  height: 500px;
  border-radius: 8px 0px 0px 8px;
  z-index: 0;
}
.packages-double__information {
  padding: 46px 21px 30px 44px;
  width: 50%;
}
.packages-double__title {
  margin: 0 0 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.packages-double__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160.6%;
  margin-bottom: 34px;
}
.packages-double__room {
  margin-bottom: 37px;
}
.packages-brief {
  display: flex;
  flex-direction: column;
  position: relative;
}
.packages-brief__imgwrapper {
  height: 250px;
}
.packages-brief:before {
  content: "Flash Offer";
  position: absolute;
  left: 0;
  top: 26px;
  width: 60px;
  height: 18px;
  border-radius: 0px 4px 4px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 18px;
  background-color: #EC1F46;
  text-align: center;
  vertical-align: center;
  z-index: 1;
}
.packages-brief__image {
  width: 100%;
  height: 250px;
  border-radius: 8px 8px 0px 0px;
  overflow: cover;
}
.packages-brief__information {
  padding: 0px 21px 25px 32px;
}
.packages-brief__stars {
  display: none;
}
.packages-brief__title {
  margin: 30px 0 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.packages-brief__description {
  display: none;
}
.packages-brief__room {
  margin-bottom: 24px;
}

.footer {
  background-color: #0A223D;
}
.footer-wrapper {
  padding-top: 108px;
  padding-bottom: 46px;
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-auto-rows: minmax(70px, -webkit-min-content);
  grid-auto-rows: minmax(70px, min-content);
}
.footer__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}
.footer__title--inline {
  margin: 0 43px 0 0;
}
.footer__list {
  margin-bottom: 30px;
}
.footer__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer__item {
  color: #BDBDBD;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
.footer__logo {
  width: 166px;
  grid-row: 1/3;
  align-self: center;
}
.footer__categories {
  grid-row: 1/4;
}
.footer__additional {
  margin-left: 15px;
}
.footer__social-network {
  display: flex;
  grid-row: 2/4;
  grid-column: span 2;
  margin-left: 15px;
}
.footer__social-links {
  width: 83px;
  display: flex;
  justify-content: space-between;
}
.footer__legal {
  margin-left: 30%;
}
.footer__contact-details {
  grid-column: span 2;
}
.footer__contact-text {
  margin-bottom: 22px;
}
.footer__text {
  color: #BDBDBD;
  margin: 0 0 22px 0;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__email {
  text-decoration: none;
  color: inherit;
}
.footer__item {
  display: flex;
  /* margin-bottom: 22px */
}
.footer__icon {
  width: 20px;
  margin-right: 18px;
}
.footer__send-message {
  grid-column: span 2;
  margin-left: 15px;
}
.footer__required-fields {
  max-width: 540px;
  display: flex;
  justify-content: space-between;
}
.footer .input {
  background-color: #fff;
  flex-basis: 47%;
  /* width: 255px */
  height: 50px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border: none;
  padding: 0 23px;
  margin-bottom: 15px;
}
.footer__message {
  width: 540px;
  height: 123px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 22px;
  padding: 18px 23px;
  border-radius: 4px;
  resize: none;
}
.footer__send {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__button {
  width: 160px;
  height: 50px;
  border: none;
  background-color: #EC1F46;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border-radius: 4px;
}
.footer__info {
  color: #E0E0E0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.disclaimer {
  grid-column: 2/4;
  justify-self: center;
}
.disclaimer__list {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.disclaimer__item {
  padding: 0 5px;
}
.disclaimer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.cards {
  justify-self: end;
}
.cards__block {
  margin-top: 95px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel-slider {
    width: 590px;
  }
  .hotel-slider__img {
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .packages-element {
    height: 450px;
  }
  .packages-double__big-image {
    height: 100%;
  }
  .packages-double__information {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .packages-double__description {
    margin-bottom: 24px;
    font-size: 12px;
  }
  .packages-double__description {
    margin-bottom: 24px;
  }
  .packages-double__room {
    margin-bottom: 24px;
  }
  .packages-brief__image {
    height: 190px;
  }
}
@media (max-width: 992px) {
  .container,
.newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .search__input {
    width: 340px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel-slider {
    width: 100%;
  }
  .hotel-right {
    flex-direction: row;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .booking {
    width: 340px;
  }
  .map {
    width: 340px;
  }
  .reviews {
    padding: 40px 0 60px 0;
  }
  .reviews__title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .activities-wrapper {
    flex-wrap: wrap;
  }
  .card {
    width: 340px;
    height: 255px;
  }
  .card__item {
    margin-bottom: 20px;
  }
  .packages {
    padding-top: 25px;
  }
  .packages-title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .packages-wrapper {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
  .packages-double__big-image {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .packages-double__description {
    margin-bottom: 34px;
  }
  .packages-double__room {
    margin-bottom: 37px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr 1fr 20% 20% 1fr 1fr;
  }
  .footer__logo {
    width: 104px;
    grid-column: 1/3;
    grid-raw: 1/2;
    align-self: start;
  }
  .footer__social-network {
    grid-column: 3/6;
    grid-row: 1/3;
    align-self: center;
    margin: 0;
  }
  .footer__categories {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .footer__additional {
    grid-row: 3/4;
    grid-column: 3/5;
    margin: 0;
  }
  .footer__legal {
    grid-row: 3/4;
    grid-column: 5/7;
    margin: 0;
  }
  .footer__contact-details {
    grid-column: span 6;
  }
  .footer__send {
    width: 540px;
  }
  .footer__send-message {
    grid-column: span 5;
  }
  .disclaimer {
    grid-column: 1/5;
    justify-self: start;
  }
  .disclaimer__list {
    margin-top: 56px;
  }
  .cards {
    grid-column: 5/7;
    justify-self: end;
    margin-top: 56px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar__search, .navbar__user, .navbar-menu {
    display: none;
  }
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 16px;
    height: 11px;
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .stars {
    flex-basis: content;
  }
  .hotel-container {
    margin: 0;
    width: 96%;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
  .hotel-right {
    flex-direction: column;
    min-height: 450px;
  }
  .hotel-slider {
    height: 350px;
  }
  .booking {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .newsletter-wrapper {
    max-width: 576px;
    width: 92%;
    flex-direction: column;
    align-items: flex-start;
  }
  .reviews-slider__button {
    top: 45px;
  }
  .reviews-slider__button--prev {
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -65px;
  }
  .reviews-slider__button--next {
    right: 50%;
    transform: translate(50%, -50%);
    margin-right: -65px;
  }
  .reviews-slider__item {
    width: 95%;
    padding: 0 30px 30px;
  }
  .reviews-slider__item:after, .reviews-slider__item::before {
    display: none;
  }
  .card {
    width: 49%;
    height: 255px;
  }
  .packages-element {
    height: 425px;
  }
  .packages-double__title {
    margin-bottom: 20px;
  }
  .packages-double__big-image {
    height: 100%;
  }
  .packages-double__information {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
  .packages-double__description {
    margin-bottom: 20px;
  }
  .packages-double__room {
    margin-bottom: 24px;
  }
  .packages-brief__title {
    margin: 16px 0;
  }
  .packages-brief__image {
    height: 190px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr 1fr 15% 25% 1fr 1fr;
  }
  .footer__required-fields {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .hotel-slider {
    height: 250px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .hotel-slider__img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .newsletter-title {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .subscribe__input {
    width: 280px;
  }
  .reviews {
    padding: 40px 0 50px 0;
  }
  .reviews__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 42px;
  }
  .reviews-slider__button {
    top: 45px;
  }
  .reviews-slider__item {
    padding: 0;
  }
  .activities {
    padding: 40px 0 60px 0;
  }
  .activities__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 36px;
  }
  .card {
    width: 100%;
  }
  .packages {
    padding-bottom: 50px;
  }
  .packages-wrapper {
    grid-template-columns: 1fr;
  }
  .packages-element {
    justify-self: center;
  }
  .packages-title {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .packages-double {
    grid-column-end: 2;
    flex-direction: column;
  }
  .packages-double__imagewrapper {
    width: 285px;
    height: 190px;
  }
  .packages-double__big-image {
    width: 285px;
    height: 190px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }
  .packages-double__stars {
    display: none;
  }
  .packages-double__title {
    margin: 16px 0;
  }
  .packages-double__description {
    display: none;
  }
  .packages-double__information {
    width: 100%;
    padding: 0 21px 25px 32px;
  }
  .packages-double:before {
    content: "Flash Offer";
    top: 26px;
    width: 60px;
    height: 18px;
    border-radius: 0px 4px 4px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 18px;
  }
  .packages-brief__image {
    width: 285px;
  }
  .footer__title {
    margin-top: 30px;
  }
  .footer__container {
    width: 95%;
  }
  .footer-wrapper {
    padding-top: 69px;
    grid-template-columns: 95%;
  }
  .footer__title--inline {
    margin-bottom: 20px;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .footer__social-network {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    flex-direction: column;
  }
  .footer__social__links {
    margin-top: 30px;
  }
  .footer__legal {
    grid-row: 3;
    grid-column: 1;
  }
  .footer__additional {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__categories {
    grid-row: 5;
    grid-column: 1;
  }
  .footer__contact-details {
    grid-row: 6;
    grid-column: 1;
  }
  .footer__send-message {
    grid-row: 7;
    grid-column: 1;
    width: 100%;
    margin: 0;
  }
  .footer__required-fields {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer__input {
    width: 100%;
  }
  .footer__message {
    width: 100%;
    margin: 0;
  }
  .footer__send {
    flex-direction: column-reverse;
    align-items: start;
  }
  .footer__info {
    margin: 15px 0;
  }
  .disclaimer {
    grid-row: 8;
    grid-column: 1;
  }
  .disclaimer__list {
    margin-top: 30px;
  }
  .cards {
    grid-row: 9;
    grid-column: 1;
    justify-self: start;
  }
  .cards__block {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */