@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px      
  .hotel
    &-slider
      &__img
        height: 450px
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-element    
      height: 450px
    &-double
      &__big-image
        height: 100%
      &__information
        padding-top: 20px
        padding-bottom: 25px
      &__description
        margin-bottom: 24px
        font-size: 12px
      &__description
        margin-bottom: 24px
      &__room
        margin-bottom: 24px
    &-brief
      &__image
        height: 190px
@media (max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: auto
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100%
  .hotel
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    padding: 40px 0 60px 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider           
      &__item  
        max-width: 580px 
  .activities
    &-wrapper
      flex-wrap: wrap
  .card
    width: 340px
    height: 255px
    &__item
      margin-bottom: 20px
  .packages
    padding-top: 25px
    &-title
      font-size: 30px
      margin-bottom: 50px
    &-wrapper
      grid-template-columns: 1fr 1fr
      column-gap: 20px
      row-gap: 20px
    &-double      
      &__big-image
        width: 50%
        object-fit: cover      
      &__description
        margin-bottom: 34px
      &__room
        margin-bottom: 37px
  .footer
    &-wrapper
      grid-template-columns: 1fr 1fr 20% 20% 1fr 1fr
    &__logo
      width: 104px
      grid-column: 1 / 3
      grid-raw: 1 / 2
      align-self: start
    &__social
      &-network
        grid-column: 3 / 6
        grid-row: 1 / 3
        align-self: center
        margin: 0
    &__categories
      grid-row: 3 / 4
      grid-column: 1 / 3
    &__additional
      grid-row: 3 / 4
      grid-column: 3 / 5
      margin: 0      
    &__legal
      grid-row: 3 / 4
      grid-column: 5 / 7
      margin: 0
    &__contact
      &-details
        grid-column: span 6
    &__send
      width: 540px
      &-message
        grid-column: span 5
  .disclaimer
    grid-column: 1 / 5
    justify-self: start
    &__list
      margin-top: 56px
  .cards
    grid-column: 5 / 7
    justify-self: end
    margin-top: 56px

@media (max-width: 768px)
  .container
    max-width: 576px // 700px
    width: 92%      
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 16px
      height: 11px
      padding: 0
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: content
  .hotel
    &-container
      margin: 0
      width: 96%
    &-name
      flex-basis: 100%      
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0  
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%       
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__button
        top: 45px                
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -65px                   
      &__item  
        width: 95%
        padding: 0 30px 30px
        &:after, &::before
          display: none
  .card
    width: 49%
    height: 255px
  .packages
    &-element    
      height: 425px
    &-double   
      &__title
        margin-bottom: 20px
      &__big-image
        height: 100%
      &__information
        padding-top: 20px
        padding-bottom: 25px
        padding-left: 25px   
      &__description
        margin-bottom: 20px
      &__room
        margin-bottom: 24px 
    &-brief
      &__title
        margin: 16px 0
      &__image
        height: 190px  
  .footer
    &-wrapper
      grid-template-columns: 1fr 1fr 15% 25% 1fr 1fr  
    &__required-fields
      width: 540px 
      
@media ( max-width: 576px )
  .logo
    width: 99px 
  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
    &-slider
      &__img
        width: 100%
        height: 250px
        object-fit: cover        
  .newsletter
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      width: 280px
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__button
        top: 45px
      &__item
        padding: 0
  .activities
    padding: 40px 0 60px 0
    &__title
      font-weight: 700
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%  
  .packages
    padding-bottom: 50px
    &-wrapper 
      grid-template-columns: 1fr
    &-element
      justify-self: center
      
    &-title
      font-size: 18px
      margin-bottom: 40px
    &-double
      grid-column-end: 2
      flex-direction: column
      &__imagewrapper
        width: 285px
        height: 190px
      &__big-image      
        width: 285px
        height: 190px
        object-fit: cover
        border-radius: 8px 8px 0px 0px
      &__stars
        display: none
      &__title
        margin: 16px 0
      &__description
        display: none  
      &__information
        width: 100%  
        padding: 0 21px 25px 32px  
      &:before        
        content: 'Flash Offer'           
        top: 26px
        width: 60px
        height: 18px      
        border-radius: 0px 4px 4px 0px
        font-style: normal
        font-weight: 600
        font-size: 8px
        line-height: 18px  
    &-brief
      &__image
        width: 285px
  .footer
    &__title
      margin-top: 30px
    &__container
      width: 95%
    &-wrapper
      padding-top: 69px
      grid-template-columns: 95%
    &__title
      &--inline      
        margin-bottom: 20px
    &__logo
      grid-row: 1
      grid-column: 1        
    &__social
      &-network
        grid-row: 2
        grid-column: 1 
        align-self: end
        flex-direction: column
      &__links
        margin-top: 30px   
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact-details
      grid-row: 6
      grid-column: 1
    &__send-message
      grid-row: 7
      grid-column: 1
      width: 100%
      margin: 0
    &__required
      &-fields
        width: 100%
        flex-wrap: wrap
    &__input
      width: 100%
    &__message
      width: 100%
      margin: 0
    &__send
      flex-direction: column-reverse
      align-items: start
    &__info
      margin: 15px 0      
  .disclaimer
    grid-row: 8
    grid-column: 1
    &__list
      margin-top: 30px
  .cards
    grid-row: 9
    grid-column: 1
    justify-self: start
    &__block
      margin: 0
  

    





      